<h1>F1 Teams</h1>

<%= link_to 'Create F1 Team', "/f1_teams/new" %>
<% @f1_teams.each do |team| %>
  <h3> <%= team.name %> </h3>
  <p>(Created: <%= team.created_at.strftime("%Y-%m-%d at %H:%M") %>)</p>
<% end %>
